cmake-build-debug
CMakeLists.txt
*/.idea
SFML
Testing
CMakeFile
*/cmake_install.cmake
*/CMakeCache.txt
*/kursovaya_final.cbp
*/kursovaya_final.exe
*/Makefile
.idea/
kursovaya_final/CMakeFiles/
kursovaya_final/Project.cbp
kursovaya_final/kursovaya_final
